/* ===================================
TITLE
=================================== */

.section-title{

font-family:var(--heading);

font-size:2.3rem;

font-weight:700;

line-height:1.3;

margin-bottom:15px;

color:var(--black);

}

.section-subtitle{

font-family:var(--body);

font-size:1.1rem;

line-height:1.8;

color:var(--text);

margin-bottom:40px;

}

/* ===================================
BUTTON
=================================== */

.btn-primary-custom{

display:inline-flex;

justify-content:center;

align-items:center;

min-width:220px;

height:56px;

padding:0 30px;

background:var(--primary);

border:none;

border-radius:10px;

font-weight:600;

font-size:1rem;

color:var(--black);

cursor:pointer;

box-shadow:var(--shadow);

transition:.3s;

}

.btn-primary-custom:hover{

transform:translateY(-3px);

background:var(--primary-dark);

}